.posts {
  padding-top: 70px;
  padding-left: 0px;
  min-height: 100%;
  width: 800px;

  margin: auto;

  list-style: none;
  color: rgb(48, 48, 48);
}

.postitem {
  margin: 0px 0px 10px 0px;
  display: flex;
  //box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.postthumbnail img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  //border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
}

.postcontent {
  width: 92%;
}

.postcontent h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.postmetadata p {
  font-size: 12px;
  display: inline;
  margin-inline: 0px 10px;
}

.posts details {
  margin-top: 5px;
}